@import "tailwindcss";

@theme {
    --color-primary: #09f;
    --color-secondary: #ceecff;
    --color-kevin-lol: ;
<<<<<<< Updated upstream
    --color-botonVerde:  oklch(76.8% 0.233 130.85); 
=======
    --color-botonVerde:  oklch(0.841 0.238 128.85); 
>>>>>>> Stashed changes
    --color-botonVerde-hover: oklch(0.768 0.233 130.85); 
    --color-botonEtiquetas: oklch(0.645 0.246 16.439);

    
}

