
        @charset "UTF-8";
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  tab-size: 4; /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000;
  font-size: 2rem;
}
body.overflow-hidden {
  overflow: hidden;
}

p {
  color: #000000;
  line-height: 1.5;
}

.contenedor {
  width: 95%;
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 5rem 0;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 6rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

body > section {
  padding: 10rem 0;
}

.fondo_login {
  background-image: url("../../public/img/Fondo_Login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor-login {
  display: flex;
}

.formulario {
  width: min(60rem, 100%); /*Min utiliza el valor mas pequeño de la pantalla para que se adapte a la pantalla*/
  margin: 0 auto; /*Centrar el formulario*/ /*Utilizarlo cuando sea un formulario y cuando el padre no sea display flex*/
  padding: 5rem;
  border-radius: 1rem; /*Borde redondeado*/
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
}
.formulario h1 {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 2.9rem;
}
.formulario h2 {
  font-weight: 400;
  font-size: 2rem;
}

.contenedor-campos {
  justify-items: center;
}
.contenedor-campos .campo {
  margin-bottom: 1.5rem;
  text-align: center;
  appearance: none;
  width: 95%;
  position: relative;
}
.contenedor-campos label {
  color: #000000;
  font-weight: bold; /*Engorda la letra*/
  margin-bottom: 0.5rem; /*Margen inferior*/
  display: block; /*Hace que el label ocupe todo el ancho*/
  text-align: left;
}
.contenedor-campos input {
  width: 100%;
  height: 4.8rem;
  border-radius: 1rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  background-color: #EAEAEA;
  border: none;
}
.contenedor-campos input::placeholder {
  color: #E54F6D;
}

.input-icon {
  position: absolute;
  width: 2.5rem;
  top: 50%;
  height: 2.5rem;
  color: #E54F6D;
  pointer-events: none; /* Asegura que el ícono no interfiera con la interacción del input */
}

.icon__left {
  left: 1.3rem;
}

.icon_right {
  right: 1.3rem;
  position: absolute;
  right: 2.5rem;
  top: 35%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 1rem;
}

.icon_right .input-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.icon_right .toggle-open {
  display: none;
}

.campo.show-password .toggle-closed {
  display: none;
}
.campo.show-password .toggle-open {
  display: block;
}

.boton {
  background-color: #EAEAEA; /*Color del boton*/
  text-decoration: none; /*Quita el subrayado del boton*/
  color: #E54F6D; /*Color de la letra
padding: 1rem 3rem; /*Padding es el espacio dentro del boton*/
  margin-top: 1rem; /*Margen superior*/
  font-size: 2rem; /*Tamaño de la letra*/
  text-transform: uppercase; /*Pone las letras en mayusculas*/
  font-weight: bold; /*Engorda la letra*/
  border-radius: 0.5rem; /*Borde redondeado*/
  text-align: center; /*Centrar el texto*/
  width: 95%; /*Ancho del boton*/
  padding: 1rem 1.5rem; /*Padding es el espacio dentro del boton*/
  border: none; /*Quita el borde del boton*/
}
.boton:hover {
  background-color: #2C4251; /*Color del boton al pasar el mouse*/
  color: #B6C649; /*Color de la letra al pasar el mouse*/
  cursor: pointer; /*Cursor de mano al pasar el mouse*/
}

.login-navegacion {
  margin-top: 2rem;
}
.login-navegacion a {
  color: #E54F6D;
}

.registrate {
  width: min(60rem, 100%); /*Min utiliza el valor mas pequeño de la pantalla para que se adapte a la pantalla*/
  margin: 0 auto; /*Centrar el formulario*/ /*Utilizarlo cuando sea un formulario y cuando el padre no sea display flex*/
  padding: 3.5rem;
  margin-top: 0.5rem;
  text-align: center;
}
.registrate h1 {
  font-weight: 400;
  font-size: 2.9rem;
}

.login-logo img {
  height: auto;
  width: 90%;
}

.login-navegacion_registrate {
  /*Fletbox se utiliza en el elemento padre*/
  display: flex;
  flex-direction: column; /*Flexdirection permite columnas o filas*/
  /*Flexdirection permite columnas o filas*/
  align-items: center; /*Alinear horizontalmente*/
  margin-top: 1rem;
}
.login-navegacion_registrate a {
  margin: 1rem auto;
  color: #E54F6D;
}
    